// Importing the customized variables will override the default variables defined in Bootstrap.
@import 'variables';

// Importing all of Bootstrap. But since we have already imported the customized variables above, the default variables will be overridden.
@import "../node_modules/bootstrap/scss/bootstrap";

// Defining the styles for the application.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 1.6rem;
    height: 1.6rem;
}

#logo-text,
#hero-heading {
    font-family: Lato, sans-serif;
}

#pin-icon {
    width: .7rem;
}

#delivering-to-dropdown {
    background-color: transparent;
}

#colored-status-ball {
    height: .5rem;
    width: .5rem;
    background-color: #DB2C62;
}

#hero-section,
#todays-menu-section {
    min-height: 35rem;
}

#hero-texts-container {
    max-width: 29rem;
}

#hero-heading {
    font-size: 3.5rem;
}

#span-experience {
    color: #FF9100;
}

#hero-subheading {
    color: #9C9C9C;
}

.swiper-wrapper {
    max-width: 78rem;
}

// Modifying the swiper buttons.
.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-size: 15px;
    --swiper-navigation-sides-offset: 7px; // TODO: Fix later.

    color: #AAAEB3;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
}

// If the left/right swiper button is disabled, hide it.
.swiper-button-disabled {
    display: none;
}

// List of colors used in the offer card background.
$colors: #D3736F, #CBD6D1, #FEEB9D, #CBD6D1, #D3736F, #FEEB9D;

// Iterative over the list to generate classes
@for $i from 1 through length($colors) {
    .offer-card-#{$i} {
        width: 24.5rem;
        background-color: nth($colors, $i);
    }

    .offer-btn-#{$i} {
        background-color: darken(nth($colors, $i), 7%);
        width: fit-content;


        &:hover {
            border: 1px solid white;
        }
    }
}

#featured-restaurants-div,
#top-picks-div,
#cuisines-div {
    width: 100%;
    max-width: 78rem;
}

#view-all {
    color: #FF9100;
}

.restaurant-name {
    font-size: 17px
}

.food-items {
    font-size: 14px;
}

.featured-restaurants-swiper-button,
.top-picks-swiper-button {
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-top-offset: 30%;
}

.cuisines-swiper-button {
    --swiper-navigation-sides-offset: 15px;
    --swiper-navigation-top-offset: 40%;
}

#todays-menu-container {
    background-color: #E6E3DF;

    #paint {
        position: absolute;
        left: -7rem;
        bottom: 9rem;
    }

    p:last-child {
        position: absolute;
        left: 3.7rem;
        bottom: 11.1rem;
        line-height: 1.5rem;

        font-size: 1.2rem;
        font-weight: 500;
    }
}

#todays-menu-text {
    h1 {
        span:first-child {
            font-size: 5rem;
            font-weight: 400;
            color: #FF9100;
        }

        span:nth-of-type(2) {
            font-size: 4rem;
        }

        span:last-child {
            font-size: 5rem;
            font-weight: 400;
            color: #FF9100;
        }
    }

    p {
        margin-top: 0.6rem;
        max-width: 25rem;
    }

    .btn {
        background-color: #FF9100;
    }
}