// Importing the customized variables will override the default variables defined in Bootstrap.
@import 'variables';

// Importing all of Bootstrap. But since we have already imported the customized variables above, the default variables will be overridden.
@import "../node_modules/bootstrap/scss/bootstrap";

// Defining the styles for the application.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 1.6rem;
    height: 1.6rem;
}

#logo-text,
#hero-heading {
    font-family: Lato, sans-serif;
}

#pin-icon {
    width: .7rem;
}

#delivering-to-dropdown {
    background-color: transparent;
}

#colored-status-ball {
    height: .5rem;
    width: .5rem;
    background-color: #DB2C62;
}

#hero-section {
    min-height: 35rem;
}

#hero-texts-container {
    max-width: 29rem;
}

#hero-heading {
    font-size: 3.5rem;
}

#span-experience {
    color: #FF9100;
}

#hero-subheading {
    color: #9C9C9C;
}