// Importing the customized variables will override the default variables defined in Bootstrap.
@import 'variables';

// Importing all of Bootstrap. But since we have already imported the customized variables above, the default variables will be overridden.
@import "../node_modules/bootstrap/scss/bootstrap";

// Defining the styles for the application.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 1.7rem;
    height: 1.7rem;
}

#logo-text,
#hero-heading {
    font-family: Lato, sans-serif;
}

#pin-icon {
    width: .7rem;
}

header hr {
    margin-top: 0;
    border-width: 2px;
    border-color: #EBEAE9;
}

#blogs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.blog-card {
    width: 17rem;
    border: 0;
    background-color: #F5F4F2;
}

.hashtag {
    color: #939AA3;
}

.read-full-blog {
    display: block;
    cursor: pointer;
    color: #1D88B7;
    margin-top: 1rem;

    width: fit-content;

    &:hover {
        text-decoration: underline;
    }
}

aside {
    width: 100%;
    max-width: 16rem;
}

#category-buttons {
    button:first-of-type {
        color: white;
        background-color: #FF9100;
    }

    button:not(:first-of-type) {
        color: black;
        background-color: rgba($color: #FF9100, $alpha: 0.1);
    }
}

#social-media-icons {
    height: 1.6rem;

    img {
        cursor: pointer;
    }
}


.recent-post {
    img {
        height: fit-content;
        width: fit-content;
        object-fit: cover;
    }

    div {
        small:last-child {
            cursor: pointer;
            color: #1D88B7;
            font-size: .7rem;
            width: fit-content;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}